<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns ="http://www.springframework.org/schema/beans" 
    xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation ="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.1.xsd">
    
    <context:property-placeholder location="classpath:*.properties" ignore-unresolvable="true"/>
    <!-- <context:property-placeholder location="WEB-INF/classes/db.properties" ignore-unresolvable="true"/>  -->
  
	<bean id="dataSource" class="com.yan.workreport.common.MongoDBConfig">
	    <property name="ip" value="${ip}" />  
	    <property name="port" value="${port}" />  
	    <property name="database" value="${database}" />
	    <property name="dbUserDefined" value="${dbUserDefined}" />
	    <property name="user" value="${user}" />
	    <property name="password" value="${password}" />
	</bean> 
    
    <!-- action -->
    <bean id="loginAction" class="com.yan.access.action.LoginAction">
    	<property name="userMongoDaoUtil">
			<ref local="userMongoDaoUtil" />
		</property>
    </bean>
    
    <bean id="menuAction" class="com.yan.access.action.MenuAction">
    	<property name="menuMongoDaoUtil">
			<ref local="menuMongoDaoUtil" />
		</property>
		<property name="syscode" value="${syscode}" />
    </bean>
    
    <bean id="workReportAction" class="com.yan.workreport.controller.WorkReportAction">
    	<property name="workReportTextMongoDaoUtil">
			<ref local="workReportTextMongoDaoUtil" />
		</property>
    </bean>
    
    <!-- service -->
    <bean id="userMongoDaoUtil" class="com.yan.access.dao.UserMongoDaoUtil">
    	<property name="dataSource">
			<ref local="dataSource" />
		</property>
    </bean>
    
    <bean id="menuMongoDaoUtil" class="com.yan.access.dao.MenuMongoDaoUtil">
    	<property name="dataSource">
			<ref local="dataSource" />
		</property>
    </bean>
    
    <bean id="transCodeMongoDaoUtil" class="com.yan.workreport.dao.TransCodeMongoDaoUtil">
    	<property name="dataSource">
			<ref local="dataSource" />
		</property>
    </bean>
    
    <bean id="workReportTextMongoDaoUtil" class="com.yan.workreport.dao.WorkReportTextMongoDaoUtil">
    	<property name="dataSource">
			<ref local="dataSource" />
		</property>
    </bean>
    
</beans>